html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    



  }
  .silly {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .small {
    font-size: medium;
    text-align:justify
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 150vh; /* set minimum height to 150% of viewport height */
  }
  
  .section {
    text-align: center;
    color: #000;
    font-size: 2em;
    overflow: hidden;
    border: 1px solid #000;
  }
  
  .section1 {
    background-color: #f2dede;
    flex: 0 0 150px;
    color: darkblue;
    font-weight: bolder;
  }
  
  .middle-section {
    display: flex;
    flex: 1 1 auto;
  }
  
  .section2 {
    background-color: #fcf8e3;
    flex: 1 1 auto;
    min-height: 50px;

  }
  
  .section3 {
    background-color: #dff0d8;
    flex: 1 1 auto;
    min-height: 100px;

  }
  
  .section4 {
    background-color: #d9edf7;
    flex: 1 1 auto;
    min-height: 150px;

  }
  
  .section6 {
    background-color: #d9d9d9;
    flex: 0 0 75px;
 }
 .section5 {
    background-color: #e3f393;
    flex: 0 0 600px;
 }

  .img {
    height:250px;
    width:250px;
  }